*{
  margin: 0;
  padding: 0;
}

.contact{
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  a{
    text-decoration: none;
    color: var(--couleurTexte);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
    img{
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }
  }
}